/* Buy.css */

.buy-container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.filter-container {
  width: 200px; /* Adjust width as needed */
  padding: 20px;
  /* padding-left:6vh; */

}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropbtn {
  width: 6vw;
  background-color: white; /* Maroon color */
  color: black;
  padding: 12px 20px; /* Adjust padding */
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 40px; /* Add border radius for rounded corners */
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  font-weight:bold;
  margin-left:11vh;
}

.dropbtn:hover {
  background-color: #f2f2f2; /* Light gray hover color */
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}

.cards-container {
  flex-grow: 1;
  max-height: calc(100vh - 60px); /* Adjust this value to be the height of your navbar */
  overflow-y: auto;
  margin-top: 60px; /* Ensure it starts below the navbar */
}

.cards-container::-webkit-scrollbar {
  width: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 16px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .card {
    flex: 0 1 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 1 calc(100% - 16px);
  }
}
